<div class='lammy'>
    <div class="front tyr">

        {% if relicon %}<img src="../images/{{relicon}}.png" class="relicon">{% endif %}
        {% if printrun == "micro" %}
        <div class='title'>{{microgame}}</div>
        {% else %}
        <div class='title'>{{game}}</div>
        {% endif %}
        <div class='fronttext'>{{fronttext}}
            {% if frontflavour %}
            <div class="frontflavour">{{frontflavour}}</div>
            {% endif %}
            {% if printrun == "micro" %}
            <div class="frontflavour">{{mechanical}}</div>
            {% endif %}
        </div>
        <div class="lammyid">{{ref}}</div>

    </div>

    {% if printrun != "micro" %}
    <div class="back tyr">
        {% if roleplaying %}<div class="roleplay">{{roleplaying}}</div>{% endif %}
        {% if mechanical %}<div class="mechanical">{{mechanical}}</div>{% endif %}
        {% if religious %}<div class="religious">{{religious}}</div>{% endif %}
    </div>
    {% endif %}
</div>
