<div class="halflammy">
    <div class="front tyr">
        {% if printrun == "micro" %}
        <div class='title'>{{microgame}}</div>
        {% else %}
        <div class='title'>{{game}}</div>
        {% endif %}
        <div class='fronttext'>{{fronttext}}
            {% if frontflavour %}
            <div class="frontflavour">{{frontflavour}}</div>
            {% endif %}
            {% if printrun == "micro" %}
            <div class="frontflavour">{{mechanical}}</div>
            {% endif %}
        </div>
        <div class="lammyid">{{ref}}</div>

        {% if relicon %}<img src="images/{{relicon}}.png" class="relicon">{% endif %}
    </div>
</div>
